body{
    background: #4d4d54;
    display: flex;
    justify-content: center;
  }
  .t_eff{
    color: #fff;
    font-size: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px 0 0;
    text-shadow:
      1px 1px 1px #fff,
      1px -1px 1px #fff,
      -1px 1px 1px #fff,
      -1px -1px 1px #fff,
      0 0 22px #fff;
  }
  View Compiled
  
  
